/* -------------------------> For Debugging <------------------------- */
/* * {
  border: 1px solid red;
} */

/* body {
  height: 2000px;
  background-color: lightblue;
} */

/* base sm: md: lg: xl: 2xl:
base sm: lg: 2xl: */
